body { font: 90% "MS Trebunchet", "Lucida Grande", 'Verdana', 'Tahoma', 'Calibri', sans-serif; width: 640px; margin: auto; }

div#tocbox { 
  position: fixed; top: 50px; left: 0px; width: 160px;
  background-color: #ffffff; font: 80%/120% sans-serif; 
  margin: 0px; padding: 15px 35px 15px 5px; border: 1px solid #d0d0d0; border-width: 1px 20px 1px 0px;
}

div#toctitle { font: bold small-caps 120% serif; }
#toclist ul { margin: 0px; padding-left: 15px; }
#toclist li { margin: 0px; padding: 8px 0px 0px 0px; }

h1 { font: small-caps 160% "Constantia", "Times New Roman", serif; }
h2 { font: 140% "Palatino Linotype", "Bood Antiqua", "Bitstream Charter", "Times New Roman", serif;
  padding: 20px 2px 5px 2px; margin: 30px 0px 0px 0px; 
  border-top: 1px dotted;  font-weight: bold; }
h3 { font: small-caps 120% "Calibri", sans-serif;
  display: table; padding: 0px 50px 4px 10px; margin-bottom: 5px; 
  border-bottom: 1px dashed; border-left: 2px solid; border-color: #b0b0b0; }

img.demo   { border: 3px ridge #C0C0C0; }  /* boxed image */
img.float  { float: right; border: 3px ridge #a0a0f0; margin: 10px; }
pre.code { font: 90% monospace;  padding: 10px; } /* code */
code { font-variant: normal; color: #440000; }
a:visited { color: #808080; font-weight: normal; }
a:link { color: #000080; text-decoration: none; }
a:hover { color: #ffffff; background-color: #808080; }
.eq { font-family: "Times New Roman", serif; font-variant: normal; }
div.eq { text-align: center; font-size: 130% }
span.eq { font-size: 110%; padding: 0px; }
.eq sub { font-size: 60%; }
.eq sup { font-size: 60%; padding: 1px; }
.javaimg { text-align: center; }

